.repertorio-m {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.repertorio-m .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 430px;
  height: 932px;
  position: relative;
}

.repertorio-m .group {
  position: absolute;
  width: 376px;
  height: 42px;
  top: 171px;
  left: 24px;
  border-radius: 7px;
  border: 1px solid;
  border-color: #97999e;
}

.repertorio-m .div-wrapper {
  position: relative;
  width: 351px;
  height: 24px;
  top: 8px;
  left: 16px;
}

.repertorio-m .text-wrapper {
  position: absolute;
  width: 185px;
  top: 1px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  color: #86939c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
}

.repertorio-m .frame {
  display: flex;
  flex-direction: column;
  width: 312px;
  align-items: flex-start;
  gap: 19px;
  position: absolute;
  top: 342px;
  left: 25px;
}

.repertorio-m .group-2 {
  position: relative;
  width: 314px;
  height: 290px;
  margin-right: -2.00px;
}

.repertorio-m .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #1a3c5e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.repertorio-m .group-3 {
  position: absolute;
  width: 308px;
  height: 239px;
  top: 51px;
  left: 4px;
}

.repertorio-m .overlap-group-wrapper {
  position: absolute;
  width: 310px;
  height: 46px;
  top: 0;
  left: 0;
}

.repertorio-m .overlap-group {
  position: relative;
  width: 308px;
  height: 46px;
  background-color: #3d6fa2;
  border-radius: 9px;
  box-shadow: 0px 4px 4px #00000040;
}

.repertorio-m .text-wrapper-3 {
  position: absolute;
  top: 10px;
  left: 59px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.repertorio-m .overlap-wrapper {
  position: absolute;
  width: 310px;
  height: 46px;
  top: 61px;
  left: 0;
}

.repertorio-m .text-wrapper-4 {
  position: absolute;
  top: 10px;
  left: 59px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.repertorio-m .group-4 {
  position: absolute;
  width: 310px;
  height: 46px;
  top: 127px;
  left: 0;
}

.repertorio-m .group-5 {
  position: absolute;
  width: 310px;
  height: 46px;
  top: 193px;
  left: 0;
}

.repertorio-m .group-6 {
  position: relative;
  width: 195px;
  height: 21px;
}

.repertorio-m .group-7 {
  position: absolute;
  width: 175px;
  height: 21px;
  top: 229px;
  left: 22px;
}

.repertorio-m .group-8 {
  position: absolute;
  width: 345px;
  height: 18px;
  top: 122px;
  left: 17px;
}

.repertorio-m .text-wrapper-5 {
  position: absolute;
  width: 314px;
  top: 0;
  left: 29px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #aaa8a8;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.repertorio-m .vector {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
}

.repertorio-m .line {
  position: absolute;
  width: 429px;
  height: 1px;
  top: 148px;
  left: 1px;
}

.repertorio-m .group-9 {
  position: absolute;
  width: 256px;
  height: 30px;
  top: 64px;
  left: 9px;
}

.repertorio-m .repertorio {
  position: absolute;
  width: 102px;
  height: 21px;
  top: 11px;
  left: 138px;
}

.repertorio-m .ic-baseline-less {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}

.repertorio-m .sample {
  position: absolute;
  width: 375px;
  height: 143px;
  top: 804px;
  left: 16px;
}

.repertorio-m .overlap {
  position: relative;
  width: 430px;
  height: 112px;
  top: 16px;
  left: -16px;
}

.repertorio-m .rectangle {
  position: absolute;
  width: 430px;
  height: 84px;
  top: 28px;
  left: 0;
}

.repertorio-m .items {
  display: flex;
  width: 396px;
  align-items: flex-start;
  position: absolute;
  top: 64px;
  left: 5px;
}

.repertorio-m .item {
  display: flex;
  width: 71px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  position: relative;
}

.repertorio-m .home {
  position: relative;
  width: 38px;
  height: 38px;
}

.repertorio-m .music {
  position: relative;
  width: 23px;
  height: 22px;
}

.repertorio-m .item-2 {
  position: relative;
  width: 71px;
  height: 24px;
}

.repertorio-m .button-plus {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  left: 168px;
  background-image: url(https://c.animaapp.com/mbgnx6p0tp1yZg/img/background.svg);
  background-size: 100% 100%;
}

.repertorio-m .bx-plus-svg {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 6px;
  left: 6px;
}

.repertorio-m .book-store {
  position: absolute;
  width: 29px;
  height: 13px;
  top: 99px;
  left: 279px;
}

.repertorio-m .subtract {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 70px;
  left: 281px;
}

.repertorio-m .img {
  top: 261px;
  left: 24px;
  position: absolute;
  width: 70px;
  height: 70px;
}

.repertorio-m .vector-2 {
  top: 261px;
  left: 196px;
  position: absolute;
  width: 70px;
  height: 70px;
}

.repertorio-m .vector-3 {
  top: 261px;
  left: 109px;
  position: absolute;
  width: 70px;
  height: 70px;
}

.repertorio-m .vector-4 {
  top: 694px;
  left: 26px;
  position: absolute;
  width: 70px;
  height: 70px;
}

.repertorio-m .vector-5 {
  top: 694px;
  left: 196px;
  position: absolute;
  width: 70px;
  height: 70px;
}

.repertorio-m .vector-6 {
  top: 694px;
  left: 111px;
  position: absolute;
  width: 70px;
  height: 70px;
}

.repertorio-m .group-10 {
  position: fixed;
  width: 390px;
  height: 31px;
  top: 0;
  left: 14px;
}

.repertorio-m .notch {
  position: absolute;
  width: 191px;
  height: 30px;
  top: 0;
  left: 99px;
}

.repertorio-m .battery {
  position: absolute;
  width: 29px;
  height: 11px;
  top: 20px;
  left: 361px;
}

.repertorio-m .wifi {
  position: absolute;
  width: 18px;
  height: 11px;
  top: 20px;
  left: 337px;
}

.repertorio-m .mobile-signal {
  position: absolute;
  width: 20px;
  height: 11px;
  top: 20px;
  left: 310px;
}

.repertorio-m .element {
  position: absolute;
  width: 34px;
  height: 11px;
  top: 19px;
  left: 0;
}
