.tabs-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.custom-tab-bar {
  --background: #f2f2f2;
  height: 60px;
  padding: 0 10px;
  border-radius: 20px 20px 0 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-tab-button {
  --color: #9e9e9e;
  --color-selected: #000000;

  &::before {
    display: none;
  }
}

.fab-button-space {
  width: 20%;
  visibility: hidden;
}

.fab-button-container {
  position: absolute;
  bottom: 30px; /* Position it at the bottom of the screen, above the tab bar */
  left: 50%;
  transform: translateX(-50%);
  z-index: 100; /* Ensure it's above everything */
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-fab-button {
  --background: #8c8c9e;
  --background-activated: #7a7a8c;
  --background-hover: #7a7a8c;
  --border-radius: 50%;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  height: 70px;
  width: 70px;
  margin: 0;
  border: 4px solid white;
  border-radius: 50%;
  overflow: visible;

  ion-icon {
    font-size: 32px;
    color: white;
  }
}
