<div class="tabs-container">
  <div class="fab-button-container">
    <ion-fab-button (click)="goToRepertories2()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="custom-tab-bar">
      <ion-tab-button tab="home" href="/tabs/home">
        <ion-icon aria-hidden="true" name="triangle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="liturgy" href="/tabs/liturgy">
        <ion-icon aria-hidden="true" name="square"></ion-icon>
        <ion-label>Liturgia</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
