<!-- src/app/home/home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      VOXAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VOXAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Tu sección de Bienvenido con carrusel -->
  <app-welcome-section></app-welcome-section>

  <!-- Aquí tu compañero puede agregar otros componentes -->
  <!-- <app-other-component></app-other-component> -->
  <!-- <app-another-section></app-another-section> -->

</ion-content>
